.headerSec{
  margin-left: 0px;
  margin: 50px 40px 0px;
  min-width: 400px;
    
}
@media(max-width: 1029px) {
  .headerSec {
    margin: 50px 10px;
  }
}

@media(max-width: 375px) {
  .headerSec {
    padding-top: 15px
  }
}
.luau-head{
  color: #2A292B;
  font-weight: bold;
  font-family: 'avenir_next_b';
}
.head-font-1{
  font-size: 48px !important;line-height: 56px;letter-spacing: -0.822857px;
}
.tagCardSec{
  font-family: 'avenir_next_m';
  padding: 10px 20px 0px;
}
.has-search{
  min-width: 180px;
  width: 50%;
}
.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 20px;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  background: transparent;
    
}
.searchCrossIcon{
  float: right;
  margin-top: -26px;
  margin-right: 10px;
  color: #aaa;
  cursor: pointer;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.tagCreateSec{
  position: absolute;bottom: 0;min-height: 25%;
}
.tp-card{
  margin-bottom: -1px;padding: 0px
}
.tablePdng{
  padding: 20px 30px;height: 82%;overflow-y: scroll;
}
.bt-card{ 
  padding: 5px;height: 18%;border: 2px solid rgba(84, 84, 84, 0.45);box-shadow: none;margin: 0px -2px;margin: 0px
}
.bt-card .mat-card-header .mat-card-title {
  font-size: 16px;
}
.tp-card table{
  margin-top: -10px;
}
.table td, .table th {
  padding: .35rem;vertical-align: top;border-top: none;
}
.tblHdr1{
  color:#4AD2B4;
}
.tblHdr2{
  color:#8B8B8B;
}
.statusMsg{
  line-height: 35px;color: #212529;font-family: 'avenir_next_m';letter-spacing: -0.411428px;
}
.cusBadge2{
  color: #F36275;background:rgba(248, 122, 135, 0.145324);padding: 7px 25px;font-size: 12px;line-height: 14px;letter-spacing:-0.308571px;border-radius: 14.5px;cursor: pointer;font-family: 'avenir_next_db';
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.5);
}
mat-card-title{
  font-family: 'avenir_next_db'
}
mat-card{
  font-family: 'avenir_next_m'
}
.form-control{
  padding-left: 20px;
  border-radius:20px;
  border: 1px solid #F3F3F6;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: #F3F3F6;
  color: rgb(39, 34, 34);
  font-size: 16px;
  font-weight: regular;
  font-family: 'avenir_next_r';
}
.plusIcon{
  font-size: 31px;color: #4AD2B4;cursor: pointer;
}