.headerSec{
    margin-left: 0px;
    margin: 50px 40px 0px;
    min-width: 400px;
    
}
@media(max-width: 1029px) {
  .headerSec {
    margin: 50px 10px;
  }
}
.luau-head{
    color: #2A292B;
    font-weight: bold;
    font-family: 'avenir_next_b';
}
.head-font-1{
  font-size: 48px !important;
}
.tagCardSec{
    min-height: 517px;
    font-family: 'avenir_next_m';
    padding-left: 1px;
    padding-right: 1px;
}
.has-search{
  min-width: 180px;
  width: 50%;
}
.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 20px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    background: transparent;
    
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .tagCreateSec{
      position: absolute;
      bottom: 0;
      min-height: 25%;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  .mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
  }