.confirmationDialog{
    position: absolute;
    top: 40%;
    left: 45%;
    height: 140px;
    min-width: 350px;
    text-align: center;
    background: #e5e4e4;
    border-radius: 3px;
    padding: 35px 0px;
}