.confirmationDialog{
  position: absolute;
  top: 36%;
  left: 40%;
  min-height: 140px;
  min-width: 350px;
  text-align: center;
  background: #e4e4e4;
  border-radius: 3px;
  padding: 35px 0px;
  z-index: 999999;
}
.cdk-overlay-container{
  position: relative !important;
}
.btnBg{
  background: #59b2f1;
  outline: none;
  color: #fff;
}
.btnBg:focus{
  background: #0e8cfb;
  outline: none;
}