
.form-control{
    padding-left: 20px;
    border-radius:20px;
    border: 1px solid #F3F3F6;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #F3F3F6;
    color: rgb(39, 34, 34);
    font-size: 16px;
    font-weight: regular;
    font-family: 'avenir_next_r';
}
.btn{
    color: #2A292B;
    background: #F3F3F6;
    border-radius: 5px;
    border: 1px solid #4AD2B4;
    font-size: 14px;
    font-weight: bold;
    font-family: 'avenir_next_b';
}
.luau-head{
    color: #2A292B;
    line-height: 30px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'avenir_next_b';
}
.luau-subhead{
    color: #2A292B;
    font-size: 18px;
    font-weight: regular;
    font-family: 'avenir_next_r';
}
.requireMsg{
    font-weight: medium;
    font-family: 'avenir_next_m';
    margin: 0px 0px -10px 20px;
}
