.headerSec{
    margin-left: 0px;
    margin: 50px 40px;
    
}
.luau-head{
    color: #2A292B;
    font-size: 45px !important;
    font-weight: bold;
    font-family: 'avenir_next_b';
}
.cardSec{
    min-height: 500px;
    border: 1.5px solid #e9ecef;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px #fbfbfb;
    font-weight: medium;
    font-family: 'avenir_next_m';
    padding-left: 1px;
    padding-right: 1px;
}
.cusBadge1{
    color: #4AD2B4;background: #eceeef;padding: 7px 25px;border-radius: 17px;cursor: pointer;
}
.cusBadge2{
    color: #ea0f0f;background: #eceeef;padding: 7px 25px;border-radius: 17px;cursor: pointer;
}
.cusHr{
    font-size:14px;color:#a7a2a2;margin-bottom: 0px;line-height: 11px;margin-left: 0px;
}
.v-mid{
    vertical-align: middle
}
.p-abs{
  position: absolute
}
.has-search{
    width: 50%;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .card1{
    position: relative;
    top: 0px;
  }

  .ProductDetailSec{
    position: absolute;
    top: 100px;
    z-index: 999;
    margin-left: 0px;
    height: auto;
    background: #fff;
    padding: 10px;
    border: 2px solid #d0d0d08f;
    border-radius: 10px;
    width: 300px;
  }
  .prodImg{
    width: 90%;
    max-width: 70px;
    border-radius:15px; 
  }
  .prodName{
    font-size: 14px;
    line-height: 19px;
    font-weight: medium;
    font-family: 'avenir_next_m';
  }
  .prodStyle{
    font-size: 13px;
    line-height: 15px;
    font-weight: regular;
    font-family: 'avenir_next_r';
  }
  .OrderDetailSec{
    height: auto;
    position: absolute;
    top: 109px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #d0d0d08f;
    width: 300px;
  }
  .oSec{
      padding: 10px 18px;
      border-bottom: 3px solid #d0d0d08f;
  }
  .oSec2{
    padding: 10px 18px;
    min-height: 60px;
    align-items: center;
  }
  .orderParam1{
    font-size: 14px;
    line-height: 30px;
    font-weight: DemiBold;
    font-family: 'avenir_next_db';
  }
  .orderParam2{
    font-size: 16px;
    line-height: 25px;
    font-weight: regular;
    font-family: 'avenir_next_r';
  }
  .orderAmt{
    font-size: 16px;
    font-weight: bold;
    font-family: 'avenir_next_b';
  }