<div>
  <div class="row headerSec">
    <div class="col-6">
      <h2 class="luau-head">Orders</h2>
    </div>
    <div class="col-6">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" style="border-radius: 20px">
      </div>
    </div>
    <div class="col-12 cardSec">
      <table class="table" style="margin-top:-.5px">
        <thead>
          <tr>
            <th scope="col" style="color:#4AD2B4">Order</th>
            <th scope="col">Starus</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><label style="margin-bottom:0px">#310</label>
              <p class="cusHr">9h</p>
            </td>
            <td>Pending</td>
            <td class="v-mid"><span class="cusBadge1">Product</span></td>
            <td class="v-mid"><span class="cusBadge2">Order Detail</span></td>
            <td></td>
          </tr>
          <tr>
            <td ><label style="margin-bottom:0px">#340</label>
              <p class="cusHr">11h</p>
            </td>
            <td>Successful</td>
            <td class="v-mid"><span class="cusBadge1">Product</span></td>
            <td class="v-mid"><span class="cusBadge2">Order Detail</span></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
