<div>
  <div class="emptyBlock" *ngIf="selcOrderId1 || selcOrderId2 || selcOrderId3" (click)="selcOrderId1=null; selcOrderId2=null; selcOrderId3=null"></div>
  <div class="loader" *ngIf="loaderStart"></div>
  <div class="row headerSec" *ngIf="!loaderStart">
    <div class="col-6">
      <h2 class="luau-head">Orders</h2>
    </div>
    <div class="col-6">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="form-group has-search" (keydown.enter)="onSubmit()">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" formControlName="order_id" [ngClass]="{ 'is-invalid': submitted && f.order_id.errors }">
          <span class="fa fa-times searchCrossIcon" *ngIf="this.searchForm.value.order_id" (click)="clearSearchField()"></span>
          <div *ngIf="submitted && f.order_id.errors" class="invalid-feedback requireMsg">
            <div *ngIf="f.order_id.errors.required">Order Id is required.</div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 cardSec">
      <table class="table mb-0" style="margin-top:-.5px">
        <thead>
          <tr>
            <th scope="col" class="orderTxt">Order</th>
            <th scope="col">Status</th>
            <th scope="col">Retailer</th>
            <th scope="col emailScraping">Email Scraping</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Cancel Order</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let order of orderList">
            <tr *ngIf="order.order_status && orderList.length>0">
              <td><label class="cusId">{{order.id}}</label>
                <p class="cusHr">{{order.timestamp}}</p>
              </td>
              <td class="statusMsg">{{order.order_status}}</td>
              <td class="statusMsg" style="padding: 7px 15px">
                <img [src]="order.retailer_logo" class="retailerImg">
              </td>
              <td class="v-mid emailScraping">
                <div class="p-rel detailCard">
                  <span class="cusBadge2" (click)="selcOrderId3 = order.id">Status</span>
                  <div class="OrderDetailSec" *ngIf="selcOrderId3 == order.id">
                    <div class="oSec">
                      <div class="orderParam2">{{order.status_msg || "No data available"}}</div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="v-mid">
                <div class="p-rel productCard">
                  <span class="cusBadge1" (click)="selcOrderId1 = order.id">Product</span>
                  <div class="row ProductDetailSec" *ngIf="selcOrderId1 == order.id" >
                    <div class="col-3 p-0">
                        <img class="prodImg" [src]="order.product_details.image || imgPathP" alt="Luau Icon">
                    </div>
                    <div class="col-9">
                      <div class="prodName">{{order.product_details.name}}</div>
                      <div class="prodStyle">Size: {{order.product_details.size}}</div>
                      <div class="prodStyle">Color: {{order.product_details.color}}</div>
                      <div class="prodStyle"><a [href]="createProductUrl(order)" target="_blank">Product URL</a></div>
                    </div>
                    <div class="prodStyle">Shipping status:&nbsp; 
                      <span class="trackData">{{grtShippingStatus(order.product_details)}}&nbsp;</span> 
                      <a *ngIf="order.product_details.tracking_details.tracking_url" href="{{createTrackingUrl(order)}}" target="_blank">Tracking URL</a>
                      <a *ngIf="!order.product_details.tracking_details.tracking_url">Tracking URL</a>
                    </div>
                  </div>
                </div>
              </td>
              <td class="v-mid">
                <div class="p-rel detailCard">
                  <span class="cusBadge2" (click)="selcOrderId2 = order.id">Order Detail</span>
                  <div class="OrderDetailSec" *ngIf="selcOrderId2 == order.id">
                    <div class="oSec">
                      <div class="orderParam1">Address</div>
                      <div class="orderParam2">{{order.order_details.shipping_address.address_line_one}}, {{order.order_details.shipping_address.zip_code}}</div>
                    </div>
                    <div class="oSec">
                      <div class="orderParam1">Payment</div>
                      <div class="orderParam2">
                        <img class="cardLogo" [src]="setCardLogo(order)" alt="CARD LOGO">
                        <label class="ml-1">{{getCardLastFrorDigit(order)}}</label>
                      </div>
                    </div>
                    <div class="oSec">
                      <div class="orderParam1">Username: {{order.order_details.username}}</div>
                      <div class="orderParam2">{{order.order_details.user_email}}</div>
                    </div>
                    <div class="row oSec2">
                      <div class="col-9 orderAmt">Grand Total</div>
                      <div class="vol-3 orderAmt">${{order.order_details.order_grand_total || "00.00"}}</div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="v-mid emailScraping text-center">
                <span class="cusBadge2" *ngIf="(order.order_status=='Pending') && (order.order_placement_status!='0')" (click)="orderCancel(order)">Cancel</span>
                <span class="cusBadge2" *ngIf="order.order_placement_status == '0'" style="cursor: default">Cancelled</span>
                <span *ngIf="(order.order_status!='Pending') && (order.order_placement_status!='0')">--</span>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="orderList.length==0" class="noOrderSec">
            <td colspan="7">
              <h1>No order available!</h1>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 p-0">
      <ul class="pagination justify-content-end" *ngIf="pager.pages && pager.pages.length" >
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
      </ul>
    </div>
  </div>
  
</div>
