<div class="container area-100 make-center defaultFont">
    <div style="max-width:91%">
        <div class="prvcy-head">Privacy Policy</div>
        <div class="prvcy-descp">Lorem lpsum. This is our privacy policy. Privacy is awesome. The privacy policy will go here. People can read this page if they're confused about our policies of what we do with their data and other privacy related concers. Lots of legal jargon.</div>
        <div class="prvcy-descp">Lorem lpsum. This is our privacy policy. Privacy is awesome. The privacy policy will go here. People can read this page if they're confused about our policies of what we do with their data and other privacy related concers. Lots of legal jargon.</div>
    </div>
  </div>
  

