<div class="container area-100 make-center defaultFont">
  <div style="min-width:50%">
    <h2 class="text-center luau-head">Press Inqueries</h2>
    <h5 class="text-center luau-subhead">We'd love to tell you our story.</h5>
    <div class="form-group">
      <input type="text" class="form-control luau-inpt" placeholder="your name please?">
    </div>
    <div class="form-group">
      <input type="text" class="form-control luau-inpt" placeholder="who do you write for?">
    </div>              
    <div class="form-group">
      <textarea class="form-control luau-inpt" rows="7" placeholder="tell us about your piece"></textarea>
    </div>
    <div class="text-center btn-wrp">
      <button class="btn luau-btn">Send Request</button>
    </div>
  </div>
</div>