<div class="confirmationDialog row">
  <div style="min-width:75px;">
    <div mat-dialog-title class="col-12 justify-content-center  m-0 p-0 modal-title">
      {{message}}
    </div>
    <div class="modal-body p-3">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div *ngFor="let order of form.controls.orders.controls; let i = index">
          <label formArrayName="orders">
            <input type="checkbox" [formControlName]="i">
            {{orders[i].id}} : 
            {{orders[i].name}}
          </label>
        </div>
      </form>
    </div>
    <div mat-dialog-actions class="col-12 justify-content-center">
      <button mat-button cdkFocusInitial class="btnBg" (click)="onDialogClose()">No</button>
      <button mat-button class="btnBg" (click)="submit()" mat-dialog-close>Yes</button>
    </div>
  </div>
</div>
  