<div class="container area-100 make-center defaultFont">
  <div style="max-width:91%">
    <div class="prvcy-head">Term of use</div>
    <div class="prvcy-descp">Lorem lpsum. This is our terms of use. The terms of use will go here. Also know as the "TOS". People can read this page if they're confused about their rights while using the Luau app. Lots of legal jargon</div>
    <div class="prvcy-descp">Lorem lpsum. This is our terms of use. The terms of use will go here. Also know as the "TOS". People can read this page if they're confused about their rights while using the Luau app. Lots of legal jargon</div>
  </div>
</div>
  