@font-face {
    font-family: sans-serif;
}
.sec1{
    background: #fff;
    box-shadow: 3px 0 13px 0px #888;
    padding-right: 0px
}
.navLink{
    padding: 15px 10px 10px 25px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    display: block;
    cursor: pointer;
}
.navLink:focus, .navLink:hover, .navLink:active{
    background: #e4f9f4;
    color: #48d1b3;
    text-decoration: none;
    outline: none;
}
.icon1{
    width: 60%;
    margin: 25% 15%;
    cursor: pointer;
}
.icon1:focus{
    outline: none
}
.footerSec{
    position: absolute;
    bottom: 0;
    min-width: 90%;
    padding: 5px 10px;
}
.navLinkFooter{
    font-size: 11px;
    color: #364052;
    cursor: pointer;
}
.navLinkFooter:focus, .navLinkFooter:hover, .navLinkFooter:active{
    color: #1ba788;
    font-weight: 600;
    text-decoration: none;
    outline: none;
}

