<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid p-0" style="height: 100%;" (window:resize)="onResize($event)">
  <div class="row area-100 m-0">
    <div class="" *ngIf="mobileView" style="padding:5% 10%; max-height: 65px" >
      <i class="fas fa-bars fa-2x" *ngIf="!showNavLink" (click)="toggleNavLinks()"></i>
      <i class="fas fa-times fa-2x" *ngIf="showNavLink" (click)="toggleNavLinks()"></i>
    </div>

    <div class="col-12 col-md-3 col-lg-2 sec1" *ngIf="(!mobileView || showNavLink)">
      <img class="icon1" [ngStyle]="{'margin':innerWidth >= 768? '25% 15% 15%' : '-20% 20% 10%'}" [src]="imgPath" alt="Luau Icon" routerLink="/home">

      <div *ngFor="let navObj of linkList" class="navLink" routerLink="{{navObj.routLink}}" (click)="startNavigation()">{{navObj.title}}</div>

      <footer class="footerSec">
        <div class="row">
          <div class="navLinkFooter col-6 col-lg-6" routerLink="/privacy">Privacy Policy</div>
          <div class="navLinkFooter col-6 col-lg-6" routerLink="/terms">Terms of Use</div>
        </div>
      </footer>
    </div>

    <div class="col-12 col-md-9 col-lg-10 routSec" *ngIf="!showNavLink || pageOpen" [ngStyle]="{'margin-top.%':innerWidth < 768?'-50': '0'}">
      <router-outlet></router-outlet>
    </div>
  </div>


  
</div>
  
