<div class="container area-100 make-center defaultFont">
  <div style="min-width:50%">
    <h2 class="text-center luau-head">Customer Service</h2>
    <h5 class="text-center luau-subhead">We're here to help.</h5>
    <div class="form-group">
      <input type="text" class="form-control luau-inpt" placeholder="user name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control luau-inpt" placeholder="order#">
    </div>              
    <div class="form-group">
      <textarea class="form-control luau-inpt" rows="7" placeholder="how we can help?"></textarea>
    </div>
    <div class="text-center btn-wrp">
      <button class="btn luau-btn">Send Request</button>
    </div>
  </div>
</div>
