<div class="container area-100 make-center defaultFont">
  <div class="minWidth-50">
    <h2 class="text-center luau-head">Brand Signup</h2>
    <h5 class="text-center luau-subhead">Step into the future.</h5>
    <form [formGroup]="brandSignupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control luau-inpt" formControlName="name" placeholder="the name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback requireMsg">
          <div *ngIf="f.name.errors.required">name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control luau-inpt" formControlName="company_name" placeholder="the company you work for" [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }">
        <div *ngIf="submitted && f.company_name.errors" class="invalid-feedback requireMsg">
          <div *ngIf="f.company_name.errors.required">company name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control luau-inpt" formControlName="role" placeholder="your role at the company" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback requireMsg">
          <div *ngIf="f.role.errors.required">your role at company is required.</div>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control luau-inpt" rows="5" formControlName="message" placeholder="we love personal messages..." [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
        <div *ngIf="submitted && f.message.errors" class="invalid-feedback requireMsg">
          <div *ngIf="f.message.errors.required">your message is required.</div>
        </div>
      </div>
      <div class="form-group text-center btn-wrp">
        <button class="btn luau-btn">Send Request</button>
      </div>
    </form>
  </div>
</div>