.defaultFont{
    font-family: serif;
  }
.form-control{
    font-size: 19px;
    padding-left: 20px;
    border-radius:13px !important ;
    border: 1px solid #ced4da05;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #efefef;
}
.btn{
    background: #efefef !important;
}
.luau-head{font-size: 43px;
    font-weight: 900;
    line-height: 30px;
}
.luau-subhead{
    font-size: 20px;
    color: #232323;
}