/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: 'avenir_next_b';
    src: url('assets/fonts/avenir-next/AvenirNextBold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'avenir_next_db';
    src: url('assets/fonts/avenir-next/AvenirNextDemiBold.otf');
    font-weight: DemiBold;
    font-style: normal;
}
@font-face {
    font-family: 'avenir_next_m';
    src: url('assets/fonts/avenir-next/AvenirNextMedium.otf');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'avenir_next_r';
    src: url('assets/fonts/avenir-next/AvenirNextRegular.otf');
    font-weight: regular;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0px;
    font-family: 'avenir_next_b', 'avenir_next_db', 'avenir_next_m', 'avenir_next_r';
    background: #fbfbfb;
}
.height-100{
    height: 100%;
}
.area-100{
    height: 100%;
    width: 100%; 
}

.make-center{
    display: flex;
    justify-content: center;
    align-items: center
}
@media (orientation: landscape) {
    .landscapeMarginTop {
        margin-top: 70px !important;
    }
    .landscapeMarginTop .icon2{
        width: 65%!important;
    }
    .mobileView{
        padding: 3% 5% !important;
    }
    .bigContSec{
        width: 100%;
        margin-top: 17% !important;
        max-width: 98% !important;
    }
    .policy .container{
        margin-left: 8px;
        margin-right: 8px;
        max-width: 95%;
    }
}

.pr-zero{
    padding-right: 0px !important;
}
.overFlowY-auto{
    overflow-y: auto !important;
}
.minWidth-50{
    min-width:50%
}


.modal-dialog {
    min-height: calc(100vh - 60px) !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    overflow: auto !important;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 400px;
    }
}


/*  Custom Sctollbar*/
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px; 
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:6px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}