<div>
  <div class="emptyBlock" *ngIf="selcOrderId1 || selcOrderId2 || selcOrderId3"
    (click)="selcOrderId1=null; selcOrderId2=null; selcOrderId3=null"></div>
  <div class="loader" *ngIf="loaderStart"></div>
  <div class="row headerSec" *ngIf="!loaderStart">
    <div class="col-6">
      <h2 class="luau-head head-font-1 mb-0">Returns</h2>
    </div>
    <!-- <div class="col-6">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="form-group has-search" (keydown.enter)="onSubmit()">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" formControlName="order_id" [ngClass]="{ 'is-invalid': submitted && f.order_id.errors }">
          <span class="fa fa-times searchCrossIcon" *ngIf="this.searchForm.value.order_id" (click)="clearSearchField()"></span>
          <div *ngIf="submitted && f.order_id.errors" class="invalid-feedback requireMsg">
            <div *ngIf="f.order_id.errors.required">Order Id is required.</div>
          </div>
        </div>
      </form>
    </div> -->
    <div class="col-12 cardSec" id="cardId">
      <table class="table mb-0 tableMargin">
        <thead>
          <tr>
            <th scope="col" class="orderTxt">Order</th>
            <th scope="col" class="">Name</th>
            <th scope="col" class="">Retailer</th>
            <th scope="col" class="pl35">Product</th>
            <th scope="col" class="pl35">Order Detail</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let order of orderList;let i = index">
            <tr *ngIf="orderList.length>0">
              <td>
                <label class="cusId">#{{order.id}}</label>
                <p class="cusHr">{{order.timestamp}}</p>
              </td>
              <td class="statusMsg">{{order.order_details.username}}</td>
              <td class="statusMsg statusImg">
                <img [src]="order.retailer_logo" class="retailerImg">
              </td>
              <td class="v-mid">
                <div class="p-rel productCard">
                  <span class="cusBadge1" (click)="selcOrderId1 = order.id">Product</span>
                  <div class="row ProductDetailSec" *ngIf="selcOrderId1 == order.id">
                    <div class="col-3 p-0">
                      <img class="prodImg" [src]="order.product_details.image || imgPathP" alt="Luau Icon">
                    </div>
                    <div class="col-9">
                      <div class="prodName">{{order.product_details.name}}</div>
                      <div class="prodStyle">Size: {{order.product_details.size}}</div>
                      <div class="prodStyle">Color: {{order.product_details.color}}</div>
                      <div class="prodStyle"><a [href]="createProductUrl(order)" target="_blank">Product URL</a></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="v-mid">
                <div class="p-rel detailCard" id="orderBtnId">
                  <span class="cusBadge2" (click)="selcOrderId2 = order.id;positionByIndex(i)">Order Detail</span>
                  <div class="OrderDetailSec" id="orderBoxId" [ngClass]="{'positionBottom': i>3}"
                    *ngIf="selcOrderId2 == order.id">
                    <div class="oSec">
                      <div class="orderParam1">Order Place Time </div>
                      <div class="orderParam2">{{order.time}}</div>
                    </div>
                    <div class="oSec">
                      <div class="orderParam1">Address</div>
                      <div class="orderParam2">
                        {{order.order_details.shipping_address.first_name}}
                        {{order.order_details.shipping_address.last_name}}
                      </div>
                      <div class="orderParam2 addressFront">{{order.order_details.shipping_address.address_line_one}},
                        <span
                          *ngIf="order.order_details.shipping_address.address_line_two">{{order.order_details.shipping_address.address_line_two}},
                        </span>
                        <span
                          *ngIf="order.order_details.shipping_address.city">{{order.order_details.shipping_address.city}},
                        </span>
                        <span
                          *ngIf="order.order_details.shipping_address.state">{{order.order_details.shipping_address.state}},
                        </span>
                        <span
                          *ngIf="order.order_details.shipping_address.country">{{order.order_details.shipping_address.country}},
                        </span>
                        <span
                          *ngIf="order.order_details.shipping_address.zip_code">{{order.order_details.shipping_address.zip_code}},
                        </span>
                        <span
                          *ngIf="order.order_details.shipping_address.phone_number">{{order.order_details.shipping_address.phone_number}},
                        </span>
                      </div>
                    </div>
                    <div class="oSec">
                      <div class="orderParam1">Payment</div>
                      <div class="orderParam2">
                        <img class="cardLogo" [src]="setCardLogo(order)" alt="CARD LOGO">
                        <label class="ml-1">{{getCardLastFourDigit(order)}}</label>
                      </div>
                    </div>
                    <div class="oSec">
                      <div class="orderParam1">Username: {{order.order_details.username}}</div>
                      <div class="orderParam2">{{order.order_details.user_email}}</div>
                    </div>
                    <div class="row oSec2">
                      <div class="col-9 orderAmt">Grand Total</div>
                      <div class="vol-3 orderAmt">${{order.order_details.order_grand_total || "00.00"}}</div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="orderList.length==0" class="noOrderSec">
            <td colspan="5">
              <h1>No order available!</h1>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 p-0" *ngIf="allItemLen && allItemLen>10">
      <ul class="pagination justify-content-end" *ngIf="pager.pages && pager.pages.length">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)">First</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>

</div>