.icon2{
    width: 70px;
    height: 74px;
    margin-bottom: 27px
}
.textUp{
    font-size:55px;
    line-height: 40px;
    margin: 0px
}
.textDown{
    font-size: 24px;
    margin-bottom: -15px;
    margin-left: -60px;
}